@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,600;1,800&display=swap');

*
{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
    min-height: 100vh;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:linear-gradient(left,#00b0ff 0%,#d500f9 100%);
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo
{
    font-size: 25px;
    text-transform: uppercase;
    color: blue;
    font-weight: 700;
}

.navigation ul
{
    list-style: none;
}

.header .navigation ul li
{
    float: left;
    position: relative;

}

.header .navigation ul li a
{
    font-size: 18px;
    color: aqua;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all 2s ease;
}
.header .navigation ul li a:hover
{
    background-color: purple;
}